@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');


*{box-sizing: border-box;color: white;font-family: 'Roboto', sans-serif; }

body{
    background-image: url("https://images.unsplash.com/photo-1577025728734-7ec67bdb97d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1054&q=80");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}

.timer{
    display: flex;
}

.time{
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2rem;
    margin-top: 4rem;
    transition: 1s;
}

button:hover{
    background-color: #036686;
    border-radius: 0em;
    transition: 1s;
}
button:active{
    background-color: #033849;
    color: white;
    border-radius: 4rem;
    transition: 1s;
}